*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #ededed;
}
ul{
    list-style: none;
}
.admin-container{
    width:100%;
    height: 100%;
}
.admin-nav{
    height:60px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid grey;
}
.admin-nav-left{
    width:260px;
    height: 100%;
    background: #F36A5A;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    display: inline-block;
}
.admin-nav-right{
    float: right;
    height: 60px;
    overflow: auto;
}
.back-login{
    height: 60px;
    line-height: 60px;
    padding: 0px 10px;
    cursor: pointer;
}
.body{
    width: 100%;
    overflow: auto;
}
.body-left{
    width: 260px;
    background: #3e3e3e;
    height: 1000px;
    display: inline-block;
    position: absolute;
}
.body-left-ul{
    width: 100%;
    height: 100%;
    padding: 20px 0px;
}
.body-left-ul li{
    width: 100%;
    height: 54px;
    line-height: 34px;  
    border-bottom: 1px solid #464646;
    color:#8C8C8C;   
}
.body-left-ul li a{
    display: block;
    padding: 10px 10px 10px 30px;
    color:#8C8C8C;
}
.body-left-ul .active{     
    background: #ededed !important;
    color: #F36A5A !important;    
}
.body-right{
    margin-left: 260px;
    width: auto;
    height: 1000px;
    padding: 0px 30px 0px 30px;
    /* background: gray; */
}
.body-right-title{
    width: 100%;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
    color:black;
}
.body-right-data{
    width: 100%;
    overflow: auto;
}